body{
	margin:0px;
	background:url(../img/back.jpg) repeat-x #fff;
	color:#706f6f;
	font-family:Lucida Grande, Helvetica, sans-serif;
	font-size:11px;
	font-weight: 100;
}
a:link, a:visited{
	color:#3b5998;
}
a:hover{
	color: #8b9dc3;
}
.cuerpo{
	width:960px;
	margin:0px auto;
}
.extra{
	margin-top:50px;
	height:250px;
	float: left;
}
.header{
	width:100%;
	float:left;
	height:200px;
	padding-top:15px;
}
	#direccion{ 
		margin-right:15px;
		float:left;
	
 		padding-top: 5px;
 		margin-left: 10px;
}
	#sobre{
			float:left;
	
			width: 285px;
			padding-top: 5px;
}
		#mail_color{
			padding-left:5px;
			color:#22b0c2;
		}
	#conectar{
		float:right;
	}
		#conectar span{
			text-decoration:underline;
			font-size:12px;
			margin:5px;
			float:left;
		}
		#conectar img{
			margin-top:5px;
			float:left;
			margin-right:5px;
		}
	#panel_header{
		background:#f5f5f3;
		border:1px solid #ccc;
		border-bottom:none;
		float:left;
		margin-top:5px;
		padding:25px 0px 0px 15px;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		width: 943px;
		height: 88px;
	}
		#logoppal{
			float:left;
		}
		#login{
			float:right;
			width:350px;
			margin-top:40px;
		}
			#login_user{
				float:left;
			}
				#login_user span{
					font-weight:bold;
					float:left;
					font-size:12px;
					margin-right:5px;
					padding-top: 2px;
				}
				.input_login{
					padding-left: 20px;
					height: 20px;
					border:1px solid #ccc;
					border-radius: 5px;
					width:96px;
					float:left;
				}
				#input_user{
					background:url(../img/user.png) #fbfbfb no-repeat 4px;	
					margin-right:5px;
				}
				#input_pass{
					background:url(../img/pass.png) #fbfbfb no-repeat 4px;
				}
				#button_login{
					background: url(../img/button.jpg);
					border: none;
					height:20px;
					width:55px;
					font-size:7px;
					color:#3c3c3b;
					font-weight:bold;
					margin-left:3px;
					float: right;
					margin-right: 7px;
					margin-top: 2px;
				}
	#menu{
		background: url(../img/backmenu.jpg);
		width: 960px;
		height: 55px;
		top: 0px;
		z-index:99;
		float: left;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
	#menu a:link, #menu a:hover, #menu a:visited{ text-decoration: none; color:white; font-weight: 100;}
		#items{
			float: left;
			width: 655px;
			margin-top: 25px;
			margin-left: 20px;
		}
			.item{
				color:#fff;
				float: left; /*le da display:inline.block y le ajusta el ancho automaticamente*/
				font-size: 13px;
				font-weight: bold;
				margin-left: 15px;
				height:30px;
				border-bottom:0px solid #FF4E00;
				/*width: 87px;*/
			}
				#item_cot{
					/*width:110px;*/
					margin-left:0px;
				}
				#item_ana{
					/*width: 106px;*/
				}
				#item_con{
					/*width: 98px;*/
				}
				#item_opi{
					/*width: 72px;*/
				}
				#item_cur{
					/*width: 72px;*/
				}
				#item_not{
					/*width: 80px;*/
				}
				#item_nos{
					/*width: 80px;*/
				}
		#buscar_input{
			background:white;
			border:2px solid #ccc;
			border-radius:8px;
			font-weight:bold;
			height:25px;
			float:left;
			color:#3c3c3b;
			padding-left:8px;
			margin-top: 16px;
			margin-right:5px;
			margin-left:40px;
		}
		#logos_redes{
			float:left;
			margin-top: 18px;
		}
			#logos_redes img{
				float:left;
				margin:2px;
			}

	.disclaimer{
		float: left;
		margin: 10px;
		font-size: 10px;
		text-align: center;
		color: #333;
		text-shadow: 1px 1px white;
		border: 1px solid #CCC;
		padding: 10px;
		border-radius: 10px;
		background: #e2e2e2;
	}

	#cotizacionBox{
		width:960px;
		height: 30px;
		background-color: #eee;
		color: #3e3e3e;
		border: 1px solid #363636;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-top-right-radius: 2px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-topright: 2px;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		box-shadow: 0px 0px 7px #666;
		float: left;
		margin-top: 60px;
		margin-bottom: 65px;
	}
	#cotizacionBox .wrap{
		height:30px;
	}
	#slider_ads{
		background: url(../img/sliderfake.jpg);
		width:475px;
		height:200px;
		float:left;
	}
	.column{
		float:left;
		width:465px;
	}
	.seccion{
		width:465px;
		margin-bottom:45px;
		float:left;
	}
		.header_seccion{
			background: url(../img/header_seccion.png) no-repeat;
			width:465px;
			height:18px;
			color: white;
			font-size: 17px;
			padding: 10px;
			font-weight: 100;
		}
		.cuerpo_seccion{
			margin-top: -3px;
			margin-left: 4px;
			border: 1px solid #e7e7e7;
			border-top: none;
			width: 457px;
			height: 560px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
			.caja_slide{
				padding-top:20px;
				float:left;
			}
			.izq_slide{
				float:left;
				padding-left:10px;
				width:220px;
			}
				.img_ppal_slide{
					border:4px solid #e7e7e7;
					border-radius:8px;
				}
				.thumb_slide{
					margin-top: 15px;
				}
					.thumb_slide img{
						float:left;
					}
					.thumb_slide span{
						float:left;
						font-weight: bold;
						/*width: 125px;*/
						margin-left: 9px;
						color:#3c3c3b;
					}
			.der_slide{
				float:left;
				width:220px;
			}
				.tit_slide{
					float: left;
					width: 100%;
					font-family: Open Sans, Lucida Grande, Helvetica;
					font-size: 14px;
					font-weight: bold;
					width:205px;
					color: #444;
				}
				.cuerpo_slide{
					margin-top: 7px;
					float: left;
					width: 205px;
				}
			.separacion_slide{
				width: 425px;
				margin-left: 15px;
				height: 1px;
				background: #CCC;
				float: left;
				margin-top: 20px;
			}
			.separacion_inferior{
				margin-top:10px;
			}
			.compartir_slide img{
				float: left;
				margin-top: 8px;
				margin-left: 25px;
			}
			.compartir_slide span{
				float: right;
				margin-right: 25px;
				text-decoration: underline;
				margin-top: 12px;
			}
	#col_derecha{
		margin-top:15px;
		margin-left:30px;
	}
		#analisis .cuerpo_seccion{
			height:500px;
		}
		#sit_actual .cuerpo_seccion{
			height:470px;
		}
			.hora_slide{
				float: left;
				width: 465px;
				margin-left: 10px;
				margin-bottom:10px;
				font-weight: bold;
			}
			#sit_actual .compartir_slide span{
				margin-right: 45px;
			}
	.noticia{
		float: left;
		margin-top: 10px;
		width: 458px;
	}
		.noticia img{
			float: left;
		}
		#noticias .separacion_slide{
			margin-top:10px;
		}
		#noticias .cuerpo_seccion{
			height:480px;
		}
		.tit_noticia{
			font-weight: bold;
			margin-left: 10px;
			color: #3C3C3B;
			font-size: 12px;
			margin-right: 10px;
			float: left;
			margin-top: 3px;
		}
		.img_noticia{
			width:21px;
			height:20px;
			float:left;
			background-repeat: no-repeat;
		}
		.cuerpo_noticia{
			margin-top: 3px;
			font-size: 12px;
			margin-left: 12px;
			float: left;
			white-space: nowrap;
			width: 340px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	#opiniones .cuerpo_seccion{
		padding-top:20px;
		background: #f6f6f6;
		border:none;
	}
	.opinion{
		width: 458px;
		background: url(../img/backopinion.png) no-repeat;
		margin-left: -6px;
		height: 158px;
		padding-left: 5px;
		margin-bottom:15px;
	}
		.titulo_opinion{
			float: left;
			width: 100%;
			font-weight: bold;
			font-size: 12px;
			height: 30px;
		}
		.cuerpo_opinion{
			font-size: 12px;
			width: 425px;
			float: left;
		}
		.opinion .compartir_slide img{
			margin-top: 35px;
			margin-left: 0px;
		}
		.opinion .compartir_slide span{
			margin-top: 39px;
		}
		.borde_opinion{
			float: left;
			padding: 13px;
			height: 131px;
			border: 1px solid #CCC;
			border-left: none;
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
		}
#footer{
	float: left;
	margin-top: 89px;
	width: 960px;
}
	#logofooter{
		float: left;
		margin-right: 30px;
		margin-top: 2px;
	}
	#links_footer{
		float: left;
		font-weight: bold;
		font-size:10px;
	}
	#unirse{
		float: right;
		font-size:12px;
	}
		#unirse span{
			float:left;
			margin-right: 5px;
			font-weight: bold;
		}
		#unirse img{
			float:left;
			margin-left:5px;
		}
	#copy{
		float:left;
		margin-top: 35px;
		margin-bottom: 15px;
	}

#datosLive div{
	font-family: arial,helvetica,sans;
	padding:10px;
	float:left;
	border-right: 1px solid #303030;
}
#datosLive span{
	margin-left:5px;
	margin-right:5px;
	font-size: 13px;
}
.positive{
	color:green;
	padding-left: 20px;
	background: url(../img/icons/arrowPos.gif) no-repeat 0px;
}
.negative{
	color:red;
	padding-left: 20px;
	background: url(../img/icons/arrowNeg.gif) no-repeat 0px;
}
.neutral{
	color:#7AA9CB;
}
