#indices_container{
	width: 100%;
	height: 165px;
	margin-top: 40px;
	float:left;
	font-family: Open Sans, Lucida Grande, Helvetica;
}
#indices_container a:link, #indices_container a:visited, #indices_container a:hover{ text-decoration: none; color: #207BA2;}
#indices_container a:hover{ text-decoration: none; color: #3181A3;}
#indice_list{
	float:left;
	width:80px;
}
#indice_list .indice, #indice_list .indice .selected{
	border: 1px solid #333;
	padding: 5px;
	text-align: center; 
	width: 53px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #D4D4D4;
	font-size: 11px;
	color: white;
	text-shadow: 1px 1px #333;
	margin-bottom: 3px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#D4D4D4), to(#A3A3A3));
	background: -webkit-linear-gradient(#D4D4D4, #A3A3A3);
	background: -moz-linear-gradient(#D4D4D4, #A3A3A3);
	background: -ms-linear-gradient(#D4D4D4, #A3A3A3);
	background: -o-linear-gradient(#D4D4D4, #A3A3A3);
	background: linear-gradient(#D4D4D4, #A3A3A3);
	-pie-background: linear-gradient(#D4D4D4, #A3A3A3);
	behavior: url(/PIE.htc);
}
#indice_list .selected, #indice_list .indice:hover{
	background: #89AAF0;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#89AAF0), to(#2D4D9F));
	background: -webkit-linear-gradient(#89AAF0, #2D4D9F);
	background: -moz-linear-gradient(#89AAF0, #2D4D9F);
	background: -ms-linear-gradient(#89AAF0, #2D4D9F);
	background: -o-linear-gradient(#89AAF0, #2D4D9F);
	background: linear-gradient(#89AAF0, #2D4D9F);
	-pie-background: linear-gradient(#89AAF0, #2D4D9F);
}

#indice_detalle{
	float: left;
	width: 880px;
}
.box_b{
	width:250px;
	float:left;
	color: #000;
	font-weight: bold;
	font-size: 14px;
	border-right: 2px groove white;
	line-height: 1.4;
	margin-right: 12px;
}
	.texto_box{
		float: left;
		clear:both;
	}
		.texto_box span{
			float:left;
			clear:both;
		}
		.market, .price{
			float:left;
			clear:both;
		}
		.market{
			color: #207BA2;
			cursor:pointer;
		}
	.graph{
		margin-left: 70px;
	}
	.border_box{
		background: #ccc;
		height:1px;
		width:235px;
		margin-left:5px;
		float:left;
		border-top: 1px solid white;
	}
		.bbtop{
			margin-bottom:5px;
		}
		.bbbottom{
			margin-top:30px;
		}
.box_s{
	
	font-weight: bold;
	font-size: 14px;
	line-height: 1.4;
	float: left;
	/*border-top: 1px solid #CCC;*/
	padding-top: 5px;
	/*border-bottom: 1px solid #CCC;*/
	padding-bottom: 6px;
	border-right: 1px dotted #CCC;
	margin-right: 5px;
	padding-right: 6px;
	width:110px;
}
	.box_s span{
		clear:both;
		float:left;
		margin-left: 5px;
		color:#222;
	}
	.box_s .market{
		color: #207BA2;
	}
	.sgraph{
		float:left;
		margin-top:10px;
		clear:both;
		background: white;
		margin-left: 5px;
	}
