#indices_container{
	width: 960px;
	height: 126px;
	margin-top: 4px;
	float: left;
	font-family: Open Sans, Lucida Grande, Helvetica;
	font-weight: 100;
}
#indices_container a:link, #indices_container a:visited, #indices_container a:hover{ text-decoration: none; color: #207BA2;}
#indices_container a:hover{ text-decoration: none; color: #3181A3;}
#indice_list{
	float:left;
	width: 100px;
	margin-top: 10px;
}
#indice_list .indice, #indice_list .indice .selected{
	width: 85px;
	background: url(../images/indice.png) no-repeat 0 0;
	height: 22px;
	color: white;
	text-shadow: -1px -1px black;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	vertical-align: bottom;
	padding-top: 4px;
	margin-top: -6px;
	cursor: pointer;
}
#indice_list .selected, #indice_list .indice:hover{
	background: url(../images/indice_hover.png) no-repeat 0 0;	
	width: 95px;
}

#indice_detalle{
	float: left;
	width: 880px;
}
.box_b{
	width:250px;
	float:left;
	color: #000;
	font-weight: bold;
	font-size: 14px;
	border-right: 2px groove white;
	line-height: 1.4;
	margin-right: 12px;
}
	.texto_box{
		float: left;
		clear:both;
	}
		.texto_box span{
			float:left;
			clear:both;
		}
		.market, .price{
			float:left;
			clear:both;
		}
		.market{
			color: #006a96;
			font-weight: bold;
			cursor:pointer;
		}
	.graph{
		margin-left: 70px;
	}
	.border_box{
		background: #ccc;
		height:1px;
		width:235px;
		margin-left:5px;
		float:left;
		border-top: 1px solid white;
	}
		.bbtop{
			margin-bottom:5px;
		}
		.bbbottom{
			margin-top:30px;
		}
.box_s{
	
	font-weight: 400;
	font-size: 11px;
	line-height: 1.4;
	float: left;
	/*border-top: 1px solid #CCC;*/
	padding-top: 5px;
	/*border-bottom: 1px solid #CCC;*/
	padding-bottom: 6px;
	border-right: 2px groove white;
	margin-right: 5px;
	padding-right: 6px;
	width:78px;
}
	.box_s span{
		clear:both;
		float:left;
		margin-left: 5px;
		color:#222;
	}
	.box_s .diff .positive, .box_s .perc .positive{ color: #329634; margin-left:0; padding-left: 0; background: none;}
	.box_s .diff .negative, .box_s .perc .negative{ color: #c80509; margin-left:0; padding-left: 0; background: none;}
	.box_s .diff .neutral, .box_s .perc .neutral{ color: #006995; margin-left:0; padding-left: 0; background: none;}
	.box_s .market{
		color: #006995;
	}
	.sgraph{
		float:left;
		margin-top:10px;
		clear:both;
		background: white;
		margin-left: 5px;
	}