.login_dialog{
	padding: 10px;
	text-align: center;
	color: #777;
	border-radius: 2px;
	border: 1px solid #DFDFDF;
}

.login_dialog .divisor{
	width:345px;
	margin: 7px auto;
	border-top: 1px solid #DFDFDF;
	padding-bottom: 15px;
}
.login_dialog a:link, .login_dialog a:visited{
	color:#006995;
}