body{
	padding-top: 20px;
	margin: auto;
	font-family: 'Droid Sans', sans-serif;
	width: 1000px;
	background-color: #efefef;
}

header{
	font-family: 'Open Sans', sans-serif;
	font-size:25px;
	font-weight: 300;
	padding:15px;
	color:#666;
	text-align: center;
}
header span{
	display:inline;
}

section{
	color:#ccc;
	font-size: 13px;
	padding: 10px;
}
div{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
button{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	border: 1px solid #ccc;
	border-radius: 2px;
}
p{
	float: left;
}

h1{
	color: #242424;
	font-size: 70px;
	text-align: center;
	text-transform: lowercase;
}
article{
	margin:20px auto;
	text-align: center;
}
a:link, a:visited{
	color:white;
}
a:hover{
	color:#ddd;
}

.clear{
	clear:both;
}
.bold{
	font-weight: bold;
}
.no-margin{
	margin:0px;
	padding:0px;
}
.positive{
	color:green;
	padding-left: 20px;
	background: url(../img/icons/arrowPos.gif) no-repeat 0px;
}
.negative{
	color:red;
	padding-left: 20px;
	background: url(../img/icons/arrowNeg.gif) no-repeat 0px;
}
.neutral{
	color:#7AA9CB;
}

#login{
	margin: 30px auto;
}

#userchart{
	margin: 50px auto;
}

#cotizacionBox{
	width:1000px;
	height: 35px;
	background-color: #383838;
	color: white;
	border: 1px solid #363636;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	position:fixed;
	bottom: 0px;
	box-shadow: 0px 0px 7px #666;
}
#datosLive div{
	font-family: arial,helvetica,sans;
	padding:10px;
	float:left;
	border-right: 1px solid #303030;
}
#datosLive span{
	margin-left:5px;
	margin-right:5px;
	font-size: 13px;
}

.labelsCotizacion{
	position: absolute;
	margin-top:-22px;
	display: none;
}
.miniBtn{
	float:left;
	border:1px solid #646764;
	background-color: #403F3F;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 1px;
}
.button-circle-color{
	border-radius: 10px;
	background-color: white;
	width: 13px;
	height: 13px;
	float:left;
	display: inline-block;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 1px #ccc;
}
.label{
	float:left;
	display: inline-block;
	color: #383838;
}

.horizontalLine{
	height: 1px;
	background-color: black;
	width: 100%;
}

/*USO DE GLYPH*/
.selectBtn{
	background: url(../img/icons/glyphicons-halflings.png) 14px 111px;
	width:15px;
	height:15px;
	margin-left: -45px;
	margin-top: 96px;
	position: absolute;
}
.expandBtn{
	background: url(../img/icons/glyphicons-halflings.png) 110px 65px;
	width:15px;
	height:15px;
	margin-left: -25px;
	margin-top: 95px;
	position: absolute;
}
#showLoabels{
	background: url(../img/icons/glyphicons-halflings.png) -24px 111px;
	width: 18px;
	height: 17px;
	float: right;
}


/*COLOR 4 ELEMENTS*/
.lightGrey{ background-color: #dddddd; }
.darkGrey{ background-color: #383838; }

/*COLORS 4 BUTTONS*/
.blue{
	background-color: #1C4B8F;
	background: -moz-linear-gradient(
		top,
		#fff3db 0%,
		#399DEF 25%,
		#1C4B8F );
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fff3db),
		color-stop(0.25, #399DEF),
		to(#1C4B8F));

}
.orange{
	background-color: #FC990C;
	background: -moz-linear-gradient(
		top,
		#fff3db 0%,
		#ffc821 25%,
		#ff3c00 );
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fff3db),
		color-stop(0.25, #ffc821),
		to(#ff3c00));
}
.green{
	background-color: #8A9B0F;
	background: -moz-linear-gradient(
		top,
		#fff3db 0%,
		#C7F464 25%,
		#8A9B0F );
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fff3db),
		color-stop(0.25, #C7F464),
		to(#8A9B0F));
}