body{
	padding-top: 20px;
	margin: auto;
	font-family: 'Droid Sans', sans-serif;
	width: 1000px;
	background-color: #efefef;
}

header{
	font-family: 'Open Sans', sans-serif;
	font-size:25px;
	font-weight: 300;
	padding:15px;
	color:#666;
	text-align: center;
}

section{
	color:#ccc;
	font-size: 13px;
	padding: 10px;
}

#login{
	margin: 30px auto;
}

#userchart{
	margin: 50px auto;
}